[mysqld]
collation-server     = utf8mb4_unicode_ci
character-set-server = utf8mb4
default-authentication-plugin = mysql_native_password
transaction-isolation = READ-COMMITTED
default-time-zone='Asia/Ho_Chi_Minh'
sql_mode=''
